1)What are data structures, and why are they important?
 - way of organising and storing data so that it can be accessed and manipulated efficiently
 - they are important for data manipulation , data storing in correct format and management of data

2)Explain the difference between mutable and immutable data types with examples?
- Mutable data types → Can be changed in place after creation.Example=List,dictionary

- Immutable data types → Cannot be changed once created; any “modification” actually creates a new object.Example=tuple,string

3)What are the main differences between lists and tuples in Python?
- list is mutabable data type with ordered collection of elements, Syntax = ['a','b',1]
-tuple is immutable data type with ordered collection of elements, Syntax = (1,2,3)

4)Describe how dictionaries store data.
- stores the data in key and value pairs
- dict={'key':value}

5) Why might you use a set instead of a list in Python?
- set is the data type which returns the unique elements . To get a unique set of elements we nned to use set

6) What is a string in Python, and how is it different from a list?
- immutable data type
- in Python is a sequence of Unicode characters enclosed in single quotes ', double quotes ", or triple quotes ''' / """.

7)How do tuples ensure data integrity in Python?
- by the characteistics of immutability ,prevents accidental modification, ensuring the stored data remains consistent.

8) What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores key–value pairs using a hash function to map keys to specific memory locations.

9)Can lists contain different data types in Python?
- Yes it can.Because List is heterogeneous.

10) Explain why strings are immutable in Python?
- Strings are stored in memory in a way that reuses existing string objects (string interning).

11)What advantages do dictionaries offer over lists for certain tasks?
- Fast lookups using keys (O(1) vs O(n) in lists).
- Direct mapping between keys and values.

12)  Describe a scenario where using a tuple would be preferable over a list?
- For managing Databases

13)How do sets handle duplicate values in Python?
- Sets automatically remove duplicates.

- When adding elements, Python checks the hash value; if an element already exists, it’s ignored.

14) How does the “in” keyword work differently for lists and dictionaries?
- in list 'in' keyword checks if there the mentioned element is present or not
- in dictionary 'in' keyword checks the key exists or not

15) Can you modify the elements of a tuple? Explain why or why not?
- No , because tuples are immutable , but inside tuple if there is any list present then in that case we can update the list inside of a tuple.

16) What is a nested dictionary, and give an example of its use case
- inside of a dictionary there is another dictionary present which is called nested dictionary.
- students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}

17) Describe the time complexity of accessing elements in a dictionary.
- Average case: O(1) (constant time) due to hash table lookup.

- Worst case: O(n) (rare, occurs with many hash collisions).

18)In what situations are lists preferred over dictionaries?
- When data is ordered and accessed by position.

- When values don’t need unique identifiers (keys).

19)  Why are dictionaries considered unordered, and how does that affect data retrieval?
- they retrieve data based on key and values

20)Explain the difference between a list and a dictionary in terms of data retrieval.
- list retireves data based on indexing,best for ordered collection
- dictionary retireves data based on keys , best for key - value mappings

In [2]:
#1 Write a code to create a string with your name and print it.
name=input()
print(name)

Upashak
Upashak

In [3]:
# Write a code to find the length of the string "Hello World".
string="Hello World"
print(len(string))

11

In [4]:
#Write a code to slice the first 3 characters from the string "Python Programming.
string="Python Programming"
print(string[0:3])

Pyt

In [5]:
# Write a code to convert the string "hello" to uppercase.
a='hello'
print(a.upper())

HELLO

In [9]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple".
a='I like apple'
print(a)
a1=a.replace('apple','orange')
print(a1)

I like apple
I like orange

In [12]:
#Write a code to create a list with numbers 1 to 5 and print it.
list=[]
for i in range(1,6):
  list.append(i)
print(list)

[1, 2, 3, 4, 5]

In [13]:
#Write a code to append the number 10 to the list [1, 2, 3, 4].
li=[1,2,3,4]
li.append(5)
li

[1, 2, 3, 4, 5]

In [15]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
li=[1,2,3,4,5]
li.remove(3)
li

[1, 2, 4, 5]

In [16]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
li=["a","b","c","d"]
li[1]

'b'

In [17]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
li=[10,20,30,40,50]
li[::-1]

[50, 40, 30, 20, 10]

In [18]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup=(100,200,300)
print(tup)

(100, 200, 300)

In [19]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [20]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple=(10,20,5,15)
print(min(tuple))

5

In [21]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [23]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tuple = ('apple', 'banana', 'orange')
print('kiwi' in tuple)
tuple1 = ('apple', 'banana', 'kiwi')
print('kiwi' in tuple1)

False
True

In [27]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a','b','c'}
print(set)

{'c', 'b', 'a'}

In [30]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set={1,2,3,4,5}
set.clear()
set

set()

In [32]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set={1,2,3,4}
set.remove(4)
set

{1, 2, 3}

In [37]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1,2,3}
s2={3,4,5}
s=s1.union(s2)
s

{1, 2, 3, 4, 5}

In [38]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1,2,3}
s2={2,3,4}
s=s1.intersection(s2)
print(s)

{2, 3}

In [40]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict={"name":2,"age":3,"city":6}
print(dict)

{'name': 2, 'age': 3, 'city': 6}

In [42]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict={'name': 'John', 'age': 25}
print(dict)
dict['country']='USA'
print(dict)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

In [43]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict={'name':'Alice','age':30}
dict.get('name')

'Alice'

In [52]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
print(dict)
dict.pop('age')
print(dict)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

In [53]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict={'name': 'Alice', 'city': 'Paris'}
if 'city' in dict:
    print(True)
else:
    print(False)

True

In [54]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
li=[1,2,3+4j]
print(li)
tuple=(1,8,6)
print(tuple)
dict={'name': 'Alice', 'city': 'Paris'}
print(dict)

[1, 2, (3+4j)]
(1, 8, 6)
{'name': 'Alice', 'city': 'Paris'}

In [56]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced)
import numpy as np
random_numbers = np.random.randint(1, 101, 5)
print(random_numbers)
sorted_numbers = np.sort(random_numbers)
print(sorted_numbers)

[13 71 57 39 78]
[13 39 57 71 78]

In [59]:
#Write a code to create a list with strings and print the element at the third index.
li=['Abcd','Bcde','Great','Hell']
print(li[3])

Hell

In [66]:
# Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [73]:
#Write a code to convert a list of strings into a set.
li = ["apple", "banana", "cherry", "apple"]
string_set = set(li)
print(string_set)

{'cherry', 'apple', 'banana'}